@import "tailwindcss";

/* 1. CSS Reset 또는 Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. 기본 html/body 설정 */
html,
body {
  margin:0;
  padding:0;
  height: 100%;
  font-family: 'Pretendard', sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* 3. 링크 및 버튼 초기화 */
a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

/* 4. input, textarea 초기화 */
input,
textarea {
  font: inherit;
  border: none;
  outline: none;
}