@import "tailwindcss";

@theme {
  --color-primary-500: #fb923c;
}

/* 1. CSS Reset 또는 Normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. 기본 html/body 설정 */
html,
body {
  margin:0;
  padding:0;
  height: 100%;
  font-family: "Pretendard", sans-serif;
  background-color: #f9f9f9;
  color: #222;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
